body {
    font-family: 'Smooch Sans', sans-serif;
}

header{
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/393/352/large_2x/halloween-bats-background-free-vector.png');
    text-align: center;
    height: 200px;
}

footer{
    background-color: #a20000;
    color: white;
    height: 100px;
    text-align: center;
}

h1{
    color: #a20000;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}

h2{
    color: #005677;
    font-size: 25px;
    text-transform: uppercase;
}

li{
    font-size: 20px;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

button{
    color: white;
    background-color: #a20000;
    border-radius: 20px;
}

.negrita{
    font-weight: bold;
}

.textoCursiva{
    font-style: italic;
}

.textoFooter{
    font-size: 20px
}

#fotoPerfil{
    border-radius: 100%;
    border: 10px solid white;
    width: 150px;

}